{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "lodash-import-method",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "endOfLine": "auto"
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "lodash-import-method/submodule": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "prefer-template": "error"
  }
}